/* * {
  box-sizing: border-box;
  background-color: rgb(244, 244, 244);
  color: #333;
  font-size: ;
} */

.image-container{
  display: flex;
  flex-wrap: wrap;
  gap: 15px
}
.flickr-image:hover{
transform: scale(1.1);
}
.heading{
color: grey;
font-weight: 600;
text-align: center;
}
.bookmark{
  background-color: grey;
  color: aliceblue;

}
.input{
  margin-left: 10vw;
  height: 10vh;
  width: 10vw;
}
